.cartitem {
  width: 100%;
  padding: 1rem;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  place-items: center;
  background: #fff;

  border-radius: 8px;
  //   border: 1px solid black;

  &__name {
    text-decoration: none !important;
    color: #171717;
    margin-top: 20px;

    &:hover {
      color: #dd219e;
    }
  }

  &__select {
    padding: 4px;
    font-size: 14px;
    // margin-top: 20px;
  }

  // &__select {
  //   padding: 0 8px;
  //   // font-size: 14px;
  //   margin-top: 20px;
  //   border: 1px solid black;
  // }

  &__price {
    // padding: 10px;
    margin-top: 20px;
  }

  &__deleteBtn {
    // padding: 10px 17px;
    // color: red;
    // background: #f4f4f4;
    // border: 1px solid #171717;
    // cursor: pointer;
    // transition: all 0.3s ease-out;
  }
}

@media (max-width: 700px) {
  .cartitem {
    &__name,
    &__price {
      font-size: 0.8rem;
    }

    &__select,
    &__deleteBtn {
      padding: 0px;
    }
  }
}
